/* Standard Page Styling */

body {
    height:100vh;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    background-color: #EBEAEC;
}

h1 {
    color: #333;
}

/* Registration Page */

.formBox {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-color: #625A64;
    max-width: 320px;
    width: 100%;
    padding: 40px;
    text-align: center;
}

.formHeader {
    margin-bottom: 20px;
}

.formHeader h3 {
    size: 20px ;
}

.formInput {
    margin: 20px;
    position: relative;
}

.formInput input {
    background-color: #D9D9D9;
    padding: 10px 20px ;
    margin-bottom: 10px;
    width: 80%;
    border: 0px solid;
}

.button {

}

.submit {
    width: 40%;
    font-weight: 900;
    padding: 5px;
    color: white;
    border: 0px solid;
    background-color: #CA9968;
}

.submit:hover {
    background-color: #d4a77b;
}

